* {
	outline: none;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.text-box {
	height: 300px;
	overflow-y: scroll;
}

.form-buttons {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(2, 1fr);
}
